@import "../../scss/variables.scss";
// deneb_banner
.deneb_banner{
	position: relative;
	padding-top: 120px;
	padding-bottom: 10px;
	.hero_slider{
		.signle_slider{
			width: 100%;
			overflow: hidden;
			.banner_content{
				@media #{$md}{
					margin-bottom: 20px;
				}
				@media #{$xs}{
					margin-bottom: 20px;
				}
				h1{
					font-weight: 500;
					margin-left: -2px;
					margin-bottom: 10px;
					@media #{$xs}{
						font-size: 30px;
					}
					span{
						font-weight: bold;
						color: $theme_color;
					}
				}
				h5{
					font-weight: 500;
					margin-bottom: 15px;
				}
				p{
					margin-bottom: 36px;
				}
			}
			.deneb_img_box{
				position: relative;
				float: right;
				margin-right: 18px;
			}
		}
	}
}
.carousel-style {
	.slick-dots{
		bottom: -50px;
		li{
			width: 5px;
			height: 5px;
			background: #c3c3c3;
			border-radius: 50%;
			button{
				padding: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				&:before {
					content: none;
				}
			}
		}
		& .slick-active{
			background: $theme_color;
			button{
				&:before{
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: rgb(2232, 48, 56);
					opacity: 0.302;
					margin-top: -5px;
					margin-left: -5px;
					position: absolute;
					top: 50%;
					left: 50%;
				}
			}
		}
	}
}
// shape_v1
.shape_v1{
	.shape_1{
		position: absolute;
		left: 0;
		top: 80px;
	}
}
// .shape_v2
.shape_v2{
	.shape_7{
		position: absolute;
		right: 0;
		top: 100px;
	}
}
.shape_v3{
	.shape_10{
		position: absolute;
		left: 0;
		top: 60px;
	}
}
.shape_v4{
	.shape_11{
		position: absolute;
		right: 0;
		top: 0px;
	}
}
.shape_v5{
	.shape_12{
		position: absolute;
		left: 0;
		top: 0px;
	}
	.shape_13{
		position: absolute;
		left: 40px;
		bottom: 60px;
	}
}
.image-container {
	position: relative;
}
.under {
  left: 0px;
  top: 0px;
  z-index: 1;
	animation: rotateUnder 40s linear infinite;
}

.over {
  position: absolute;
  z-index: 2;
	animation: bounce 10s infinite alternate;
}

.bounce-btn {
	animation: bounce 10s infinite alternate;
}

@keyframes rotateUnder {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes bounce {
	0% {
			top: 0;
	}
	50% {
			top: 30px; /* Adjust the bounce height as needed */
	}
	100% {
			top: 0;
	}
}

/* CSS for the tilt effect */
.image-container .over,
.image-container .under {
    transition: transform 0.5s ease-in-out; /* Apply transition to both states */
}

.image-container:hover .over,
.image-container:hover .under {
    transform: rotate(3deg) translateX(5px) translateY(2px);
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.blinking-cursor {
  animation: blink 1s infinite;
}

.black-color {
	color:black !important;
}